[Desktop Entry]
Name=Ubuntu Notes
Comment=Write and organise your notes
Exec=/home/aadn/.local/share/ubuntu-notes/run.sh
Icon=/home/aadn/.local/share/ubuntu-notes/assets/logo.png
Terminal=false
Type=Application
Categories=Office;TextEditor;
Keywords=notes;notepad;text;
StartupNotify=true
