[Desktop Entry]
Name=Ubuntu Notes
Comment=Write and organise your notes
Exec=Path/To/ubuntu-notes-1.0/run.sh
TryExec=Path/To/ubuntu-notes-1.0/run.sh
Icon=Path/To/ubuntu-notes-1.0/assets/logo.png
Terminal=false
Type=Application
Categories=Utility;TextEditor;
Keywords=notes;notepad;text;
StartupNotify=true
